
.card{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-image:url('/public/images/cardimage.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.card-secondry{
    /* background-image: url('/public/images/health.png');
    background-size: 100% 100%;
    background-repeat: no-repeat; */ 
    background-color: rgb(184, 184, 172);
}
.heading-text{
    color: rgb(234, 237, 240);
}
